@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #483150, #221f2a);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#audio-button {
  position: absolute;
  left: 45%;
}

.player-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 20px;
}

audio-player {
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    position: relative;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
